/***{   // style you can use when building your 
         css to get a better view of all of the elements on the page//
  border: thin red dashed;   
  box-sizing: border-box;
}*/

body{
  margin:0; /*set to 0 to remove default body margin*/
  font-family: 'Comfortaa', cursive;
  font-family: 'Dangrek', cursive;
  font-family: 'Roboto', sans-serif;
  display: flex; /* once you use display:flex, justify-content determines how children elements are displayed horizontally*/
  justify-content: center;
  align-items: center; /* once you use display:flex, align-items determines how children elements are displayed horizontally*/
  /* border: 5px red solid; just a test to help us see what on our page makes up the "body */
  height: 100vh; /* vh=viewport height; set height to 100% of the viewport height; assign the height of the area we are editing,
  or working inl without this the body would be the same size
  as the container; by default it is only as tall as it needs 
  to be able to contain the content, unless you change it like
  we are doing here */
}
.container{
  width: 960px; /*minimizes the width of the content on the page so it doesn't take up the whole page */
  /* border: 5px green solid; just a test to help us see what area on our page makes up the container element*/
}

.row{
  display: flex;
  justify-content: space-between;
}
.row-center{
  display: flex;
  justify-content: center;
}
.mb{
  margin-bottom: 10px;
}

.centered{
  text-align: center;
}

.button {
  /* margin: 10px; margin outside the border*/
  border:3px rgb(149, 239, 14) solid; 
  border-radius: 5px; /*creates rounded border corners*/
  text-decoration: none;
  width:100%;
  display:inline-block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px; /*padding is inside the border*/
  font-family: 'Comfortaa';
}
.player-card {
  border: thin orangered solid;
  font-family: 'Dangrek', cursive;
  width: 49%
}

.computer-card{
  border: thin green solid;
  width: 49%
}
.outcome-card{
  border: thin orangered solid;
  font-family: 'Pacifico';
  background-color: aqua;
  width: 66%
}
.one-third{
  width: 32%;
}